.details_slide {
    flex: 2;
    background: var(--text-primary-color);
    line-height: 30px;
    padding: 20px;
}
.details_slide input {
    border: none;
    outline: none;
    border: var(--border);
}
