.dashboard {
    display: flex; 
    height: 100vh;
    gap: 5px;
    overflow: auto;
}
.main {
}
.dashboard .sidebar {
    flex: 1;
    padding: 10px;
    border-right: var(--border);
    position: sticky;
    top: 0;
    background: var(--text-primary-color);
    
}
.dashboard .dashboard_content {
    flex: 6;
    font-size: small;
}   
.dash_title {
    color: #999;
    padding: 10px 0;
    border-bottom: var(--border);
}
.dashboard ul {
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}
.dashboard ul li {
    padding: 16px 0;
    font-size: 12px;
}
.dashboard ul li:hover {
    background: var(--light-bg);
}
@media screen and (max-width: 768px) {
    .dashboard {
       display: none;
    }
}
.dash_navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    width: 97%;
    margin-top: 10px;
    padding-left: 5px;
    position: sticky;
    top: 0;
   background: white;
}
.dashboard_logo {
    color: var(--primary-color);
    padding: 0 0 10px 0;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* topbar */
.dashboard .top_bar {
    display: flex;
    justify-content: space-between;
    width: 98%;
    padding-left: 5px;
    margin: 5px;
    
}
.dashboard .top_bar input {
    padding: 0;
    font-size: 12px;
    height:25px;
    width: 20%;
    border: none;
    outline: none;
    padding: 5px;
}