.sub_bar {
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin: 5px auto;
    font-size: var(--small-font-size);
}

.sell_btn_link a{
    text-decoration: none;
    color: var(--primary-color);
}

.sell_btn_link a:hover {
    text-decoration: underline;
}